
# Logs
*.log
npm-debug.log*
yarn-error.log

# OS and IDE specific files
.DS_Store
*.swp
*.sublime-project
*.sublime-workspace

# Coverage reports
coverage/

# Miscellaneous
*.bak
*.tmp
*.swp


node_modules
.env
dist
